.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    font-size: 22px;
    line-height: 140%;
    color: #808080;
}