.searchBarHeader {
    background-color: #0064EB;
    display: flex;
    align-items: center;
    height: 72px;
    width: 100%;
}

img {
    margin-left: 41px;
}


input {
    margin-left: 20px;
    width: 500px;
    height: 40px;
    border-radius: 6px;
}