.userAvatar {
    border-radius: 50%;
    margin: 0;
}

.profileWrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 56px;
}

.userAvatarContainer {
    margin-bottom: 30px;
}
.loginContainer {
    margin-bottom: 30px;
}

.loginContainer a {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #0064EB;
}

.followersContainer {
    display: flex;
    justify-content: flex-start;
}

.followersContainer svg {
    margin-right: 10px;
}



.following {
    margin-left: 20px;
}