.userAvatar {
    border-radius: 50%;
    margin: 0;
}

.profileWrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAvatarContainer {
    margin-bottom: 30px;
}
.loginContainer {
    margin-bottom: 30px;
}

.followersContainer {
    display: flex;
}